<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dunrite.xpaper">

    <!-- Used in the IntroActivity -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- To apply wallpaper-->
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.EditorActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.AboutActivity"
            android:label="@string/action_about"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.EditorActivity" />
        <activity
            android:name=".activities.ColorsActivity"
            android:label="@string/device_colors"
            android:screenOrientation="portrait"
            android:parentActivityName=".activities.EditorActivity" />
    </application>

</manifest>
